---
import { header } from "@config/menu.json";
import CloseIcon from "@assets/icons/close.svg";
---

<div
  id="nav-mobile"
  class="scrollbar-hide bg-base-200 fixed top-0 left-full z-50 flex h-screen w-84 max-w-screen flex-col justify-between overflow-y-auto transition-transform duration-300 md:hidden"
  transition:persist
>
  <div class="px-4 py-6">
    <button
      id="close-button"
      class="group border-primary text-secondary-content ease hover:border-secondary cursor-pointer rounded-sm border p-2 transition-colors"
    >
      <CloseIcon
        class="stroke-primary group-hover:stroke-secondary ease h-4 w-4 transition-colors"
      />
    </button>

    <ul class="mt-10 space-y-1">
      {
        header.map((menuItem) => {
          return (
            <li>
              <a
                id="menu-item"
                href="/"
                class="hover:text-primary block px-4 py-4 text-center text-lg font-medium transition-colors duration-200"
              >
                {menuItem.name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <!-- <div class="sticky inset-x-0 bottom-0 bg-base-300">
    <a href="#" class="flex items-center gap-2 p-4">
      <img
        alt=""
        src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        class="size-10 rounded-full object-cover"
      />

      <div>
        <p class="text-xs">
          <strong class="block font-medium">Eric Frusciante</strong>

          <span> eric@frusciante.com </span>
        </p>
      </div>
    </a>
  </div> -->
</div>

<script src="./script.ts"></script>
