---
import { header } from "../../config/menu.json";
import ThemeToggler from "../ThemeToggler/ThemeToggler.astro";
import HamburguerIcon from "../../assets/icons/hamburguer.svg";
---

<header class="bg-base-200" transition:persist>
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="text-base-content hidden md:block" href="/">
          <span class="w-auto font-[450] text-2xl"
            >OmarTiffer<span class="text-primary text-xl">.cloud</span></span
          >
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            {
              header.map((menuItem) => {
                return (
                  <li>
                    <a
                      id="menu-item"
                      class="text-base-content text-lg hover:text-primary transition-colors duration-200"
                      href="/">
                      {menuItem.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <ThemeToggler />

          <div class="block md:hidden">
            <button
              id="hamburguer-button"
              class="rounded-sm group border border-primary p-2 text-secondary-content transition-colors ease hover:border-secondary cursor-pointer">
              <HamburguerIcon
                class="h-4 w-4 stroke-primary group-hover:stroke-secondary transition-colors ease"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script src="./script.ts"></script>
