---
const { title, image, content } = Astro.props.intro;
---

<section class="bg-base-300">
  <div
    class="mx-auto w-screen max-w-screen-xl flex items-center justify-center pt-38 px-4 pb-20 sm:px-6 lg:px-8"
  >
    <div>
      <h1
        class="text-2xl font-bold text-base-content sm:text-4xl cool-underline"
      >
        {title}
      </h1>
      <div class="flex justify-center mt-14 sm:block shrink-0 bg-base-300">
        <img
          class="object-fit sm:float-left mr-4 rounded-4xl shadow-xl"
          src={image}
          width={220}
          height={220}
          alt="Omar Tiffer Photo"
        />
      </div>
      <p class="pt-4 text-base text-base-content sm:text-lg">
        {
          content.split("\n").map((line: string) => (
            <>
              {line}
              <b>
                <br />
                <br />
              </b>
            </>
          ))
        }
      </p>
    </div>
  </div>
</section>
