---
import AstroIcon from "@assets/icons/astro.svg";
---

<footer
  class="h-16 sticky bottom-0 bg-base-300 z-50 flex items-center justify-center"
  transition:name="footer"
>
  <p class="text-center">
    &copy 2025 Omar Tiffer <span class="font-medium text-primary">·</span> Built
    with
    <a href="https://astro.build" target="_blank" rel="noopener noreferrer"
      ><AstroIcon class="inline" width={18} height={18} /></a
    ><p></p>
  </p>
</footer>
