---
import AstroIcon from "../assets/icons/astro.svg";
---

<footer class="mt-auto p-2">
  <p class="text-center text- text-base-content">
    Copyright &copy 2025 <br />Built with
    <a href="https://astro.build"
      ><AstroIcon class="inline" width={16} height={16} /></a
    > by Omar Tiffer
  </p>
</footer>
