---
import HeaderNav from "@components/HeaderNav.astro";
import HamburguerIcon from "@assets/icons/hamburguer.svg";
import ThemeToggler from "@components/ThemeToggle.astro";
---

<header class="sticky top-0 z-50 bg-base-300 shadow-lg">
  <div
    class="w-screen mx-auto px-4 sm:px-6 lg:px-40 flex h-16 items-center justify-between"
  >
    <div class="flex-1 md:flex md:items-center md:gap-12">
      <a class="text-base-content hidden md:block" href="/">
        <span class="w-auto font-[450] text-2xl"
          >OmarTiffer<span class="text-primary text-xl">.cloud</span></span
        >
      </a>
    </div>

    <div class="md:flex md:items-center md:gap-12">
      <HeaderNav />

      <div class="flex items-center gap-4">
        <ThemeToggler />

        <button
          id="hamburguer-button"
          class="block md:hidden rounded-sm group border border-primary p-2 text-secondary-content transition-colors ease hover:border-secondary cursor-pointer"
        >
          <HamburguerIcon
            class="h-4 w-4 stroke-primary group-hover:stroke-secondary transition-colors ease"
          />
        </button>
      </div>
    </div>
  </div>
</header>

<script src="@scripts/components/Header.ts"></script>
