---
import { header } from "@config/menu.json";
---

<nav aria-label="Global" class="hidden md:block">
  <ul class="flex items-center gap-6 text-sm">
    {
      header.map((menuItem) => {
        return (
          <li>
            <a
              id="menu-item"
              class="text-base-content text-lg hover:text-primary transition-colors duration-200"
              href={menuItem.url}
            >
              {menuItem.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<script>
  // const menuItems = document.querySelectorAll("#menu-item");

  // menuItems.forEach((item) => {
  //   item.addEventListener("click", (event) => {
  //     menuItems.forEach((i) => i.classList.remove("text-primary"));

  //     const target = event.target as HTMLElement;
  //     target.classList.add("text-primary");
  //   });
  // });
</script>
