---
import { header } from "../config/menu.json";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import HamburguerIcon from "../assets/icons/hamburguer.svg";
---

<header class="bg-base-100">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block text-base-content" href="/">
          <span class="w-auto font-[450] text-2xl"
            >OmarTiffer<span class="text-primary text-xl">.cloud</span></span
          >
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            {
              header.map((menuItem) => {
                return (
                  <li>
                    <a
                      id="menu-item"
                      class="text-base-content text-lg transition hover:text-primary"
                      href={menuItem.url}>
                      {menuItem.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <ThemeSwitcher />

          <div class="block md:hidden">
            <button
              class="rounded-sm bg-secondary p-2 text-secondary-content transition hover:bg-secondary/80 cursor-pointer"
            >
              <HamburguerIcon class="h-5 w-5" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const menuItems = document.querySelectorAll("#menu-item");
  const currentPath = window.location.pathname;

  // Highlight the current menu item
  menuItems.forEach((item) => {
    const itemPath = item.getAttribute("href");
    if (currentPath === itemPath) {
      item.classList.add("text-primary");
    } else {
      item.classList.remove("text-primary");
    }
  });
</script>
