<section class="lg:grid lg:place-content-center">
  <div
    class="mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 md:grid md:grid-cols-2 md:items-center md:gap-4 lg:px-8 lg:py-30"
  >
    <div class="max-w-prose text-left">
      <h3 class="text-primary text-xl">Hi there!</h3>
      <h1 class="mt-4 text-4xl font-bold text-base-content sm:text-5xl">
        I'm Omar Tiffer
      </h1>
      <h2 class="mt-4 text-primary text-2xl font-bold">
        Cloud/DevOps Engineer
      </h2>
      <p
        class="mt-4 text-base text-pretty text-base-content sm:text-lg/relaxed"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nisi.
        Natus, provident accusamus impedit minima harum corporis iusto.
      </p>

      <div class="mt-4 flex gap-4 sm:mt-6">
        <a
          class="inline-block border border-secondary rounded bg-secondary px-5 py-3 font-medium text-primary-content shadow-sm transition-colors hover:bg-secondary/80"
          href="#"
        >
          Get Started
        </a>

        <a
          class="inline-block rounded bg-base-300 border border-base-content px-5 py-3 font-medium text-base-content shadow-sm transition-colors hover:bg-base-100"
          href="#"
        >
          Learn More
        </a>
      </div>
    </div>

    <img
      class="mx-auto hidden max-w-md md:block"
      src="/src/assets/hero.png"
      alt="Hero Image"
    />
  </div>
</section>
