---
import "@styles/global.css";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/fira-sans";
import "@fontsource-variable/jost";

const { pageTitle } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<title>{pageTitle}</title>

<script is:inline>
  // Get system theme preference on load
  const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
    ? "dark"
    : "light";

  // Set the initial theme based on localStorage
  const savedTheme = localStorage.getItem("theme");
  const themeToSet = savedTheme || systemTheme;

  // Set the initial theme
  document.documentElement.classList.toggle("dark", themeToSet === "dark");
  document.documentElement.classList.toggle("light", themeToSet === "light");

  // Persist the theme in localStorage
  localStorage.setItem("theme", themeToSet);
</script>

<script src="@scripts/components/MainHead.ts"></script>
