---
import "@styles/global.css";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/fira-sans";
import "@fontsource-variable/jost";
import { ClientRouter } from "astro:transitions";

const { pageTitle } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Google tag (gtag.js) -->
<script src="https://www.googletagmanager.com/gtag/js?id=G-NW0FG1EMPL"
></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-NW0FG1EMPL");
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />
<title>{pageTitle}</title>
<ClientRouter />

<script is:inline>
  // Get system theme preference on load
  const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
    ? "dark"
    : "light";

  // Set the initial theme based on localStorage
  const savedTheme = localStorage.getItem("theme");
  const themeToSet = savedTheme || systemTheme;

  // Set the initial theme
  document.documentElement.classList.toggle("dark", themeToSet === "dark");
  document.documentElement.classList.toggle("light", themeToSet === "light");

  // Persist the theme in localStorage
  localStorage.setItem("theme", themeToSet);
</script>

<script src="@scripts/components/MainHead.ts"></script>
