---
import { header } from "@config/menu.json";
import CloseIcon from "@assets/icons/close.svg";
import Social from "./Social.astro";
import socialIcons from "@config/social";

const isCurrentPage = (href: string) => {
  let normalizedPath = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
  if (!normalizedPath.startsWith("/")) normalizedPath = "/" + normalizedPath;
  if (!normalizedPath.endsWith("/")) normalizedPath += "/";

  let normalizedHref = href;
  if (!normalizedHref.startsWith("/")) normalizedHref = "/" + normalizedHref;
  if (!normalizedHref.endsWith("/")) normalizedHref += "/";

  return (
    normalizedPath === normalizedHref ||
    (normalizedHref !== "/" && normalizedPath.startsWith(normalizedHref))
  );
};
---

<div
  id="nav-mobile"
  class="scrollbar-hide bg-base-200 shadow-xl fixed top-0 left-full z-50 flex h-screen w-84 max-w-screen flex-col justify-between transition-transform duration-300 md:hidden"
>
  <div class="px-4 py-6">
    <button
      id="close-button"
      class="group border-primary text-secondary-content ease hover:border-secondary cursor-pointer rounded-sm border p-2 transition-colors"
    >
      <CloseIcon
        class="stroke-primary group-hover:stroke-secondary ease h-4 w-4 transition-colors"
      />
    </button>

    <ul class="mt-26 space-y-2">
      {
        header.map((menuItem) => {
          return (
            <li>
              <a
                href={menuItem.url}
                class={`${isCurrentPage(menuItem.url) && "text-primary"} hover:text-primary block px-4 py-4 text-center text-lg font-medium transition-colors duration-200`}
              >
                {menuItem.name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <div
    class="h-20 sticky flex items-center justify-center inset-x-0 bottom-0 bg-base-300"
  >
    <Social icons={socialIcons.main} />
  </div>
</div>

<script src="@scripts/components/MobileNav.ts"></script>
