---
interface Icons {
  fill: string;
  icons: {
    title: string;
    Icon: any;
    width: string;
    height: string;
    href: string;
  }[];
}

const { fill, icons } = Astro.props as Icons;
---

<ul class="flex items-center gap-8">
  {
    icons.map(({ title, Icon, width, height, href }) => {
      return (
        <li>
          <a href={href} target="_blank" rel="noopener noreferrer">
            <span>
              <Icon
                class={`${title === "Gmail" ? "fill-[#EA4335]" : fill} hover:rotate-12 transition-transform duration-300 ease-in-out`}
                width={width}
                height={height}
              />
            </span>
          </a>
        </li>
      );
    })
  }
</ul>
