---
import GitHub from "../assets/icons/github.svg";
import LinkedIn from "../assets/icons/linkedin.svg";
import X from "../assets/icons/x.svg";
import Gmail from "../assets/icons/gmail.svg";
---

<div class="mt-4 flex items-center gap-6 sm:mt-6">
  <a href="https://github.com/oatiffer" target="_blank">
    <span
      ><GitHub
        class="fill-base-content hover:rotate-12 transition-transform duration-300 ease-in-out"
        width={20}
        height={20}
      /></span
    >
  </a>

  <a href="https://www.linkedin.com/in/omartiffer/" target="_blank">
    <span
      ><LinkedIn
        class="fill-base-content hover:rotate-12 transition-transform duration-300 ease-in-out"
        width={20}
        height={20}
      /></span
    >
  </a>

  <a href="https://x.com/oatiffer" target="_blank">
    <span
      ><X
        class="fill-base-content hover:rotate-12 transition-transform duration-300 ease-in-out"
        width={20}
        height={20}
      /></span
    >
  </a>

  <a href="mailto:contact@omartiffer.cloud" target="_blank">
    <span
      ><Gmail
        class="hover:rotate-12 transition-transform duration-300 ease-in-out"
        width={20}
        height={20}
      /></span
    >
  </a>
</div>
