---
import DarkIcon from "@assets/icons/darktheme.svg";
import LightIcon from "@assets/icons/lighttheme.svg";
---

<div class="sm:flex sm:gap-4">
  <button
    id="button-dark"
    type="button"
    class="font-medium text-base-content cursor-pointer"
  >
    <span
      class="group inline-flex shrink-0 justify-center items-center size-9 stroke-secondary fill-secondary hover:stroke-info hover:fill-info transition-colors ease-in-out duration-200"
    >
      <DarkIcon />
    </span>
  </button>
  <button
    id="button-light"
    type="button"
    class="font-medium text-base-content cursor-pointer"
    aria-label="Light/Dark toggle"
  >
    <span
      class="group inline-flex shrink-0 justify-center items-center size-9 stroke-warning fill-warning hover:stroke-yellow-300 hover:fill-yellow-300 transition-colors ease-in-out duration-200"
    >
      <LightIcon />
    </span>
  </button>
</div>

<style>
  :global(.dark) #button-dark {
    display: none;
  }
  :global(.dark) #button-light {
    display: block;
  }
  :global(.light) #button-dark {
    display: block;
  }
  :global(.light) #button-light {
    display: none;
  }
</style>

<script src="@scripts/components/ThemeToggle.ts"></script>
