---
import DarkIcon from "../assets/icons/darktheme.svg";
import LightIcon from "../assets/icons/lighttheme.svg";
---

<div class="sm:flex sm:gap-4">
  <button
    id="button-dark"
    type="button"
    class="font-medium text-base-content cursor-pointer hidden"
    data-theme="dark"
  >
    <span
      class="group inline-flex shrink-0 justify-center items-center size-9 stroke-secondary hover:stroke-info"
    >
      <DarkIcon />
    </span>
  </button>
  <button
    id="button-light"
    type="button"
    class="font-medium text-base-content cursor-pointer"
    data-theme="light"
  >
    <span
      class="group inline-flex shrink-0 justify-center items-center size-9 stroke-warning hover:stroke-yellow-300"
    >
      <LightIcon />
    </span>
  </button>
</div>

<script>
  const themeSwitcher = document.querySelectorAll("[data-theme]");

  themeSwitcher.forEach((button) => {
    button.addEventListener("click", () => {
      document.documentElement.classList.toggle("dark");

      if (button.id === "button-dark") {
        button.classList.add("hidden");
        const buttonLight = document.getElementById("button-light");
        buttonLight && buttonLight.classList.remove("hidden");
      } else {
        button.classList.add("hidden");
        const buttonDark = document.getElementById("button-dark");
        buttonDark && buttonDark.classList.remove("hidden");
      }
    });
  });
</script>
