---
import DarkIcon from "../assets/icons/darktheme.svg";
import LightIcon from "../assets/icons/lighttheme.svg";
---

<div class="sm:flex sm:gap-4">
  <button
    id="button-dark"
    type="button"
    class="font-medium text-base-content cursor-pointer hidden"
    data-theme="dark"
  >
    <span
      class="group inline-flex shrink-0 justify-center items-center size-9 stroke-secondary fill-secondary hover:stroke-info hover:fill-info transition-colors ease-in-out duration-200"
    >
      <DarkIcon />
    </span>
  </button>
  <button
    id="button-light"
    type="button"
    class="font-medium text-base-content cursor-pointer"
    data-theme="light"
  >
    <span
      class="group inline-flex shrink-0 justify-center items-center size-9 stroke-warning fill-warning hover:stroke-yellow-300 hover:fill-yellow-300 transition-colors ease-in-out duration-200"
    >
      <LightIcon />
    </span>
  </button>
</div>

<script>
  // Add event listeners to the buttons
  const themeButtons = document.querySelectorAll("[data-theme]");

  themeButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      console.log(e);
      const selectedTheme: string = button.getAttribute("data-theme") ?? "";

      setTheme(selectedTheme);
      localStorage.setItem("theme", selectedTheme);
    });

    function setTheme(theme: string) {
      const DARK_THEME = "dark";
      const LIGHT_THEME = "light";

      const darkButton = document.getElementById("button-dark");
      const lightButton = document.getElementById("button-light");

      switch (theme) {
        case DARK_THEME:
          if (!document.documentElement.classList.contains(DARK_THEME)) {
            document.documentElement.classList.add(DARK_THEME);
          }
          document.documentElement.classList.remove(LIGHT_THEME);
          darkButton?.classList.add("hidden");
          lightButton?.classList.remove("hidden");
          break;
        case LIGHT_THEME:
          if (!document.documentElement.classList.contains(LIGHT_THEME)) {
            document.documentElement.classList.add(LIGHT_THEME);
          }
          document.documentElement.classList.remove(DARK_THEME);
          darkButton?.classList.remove("hidden");
          lightButton?.classList.add("hidden");
          break;
      }
    }
  });
</script>
