---
import Header from "@components/Header.astro";
import MobileNav from "@components/MobileNav.astro";
import Footer from "@components/Footer.astro";
import MainHead from "@components/MainHead.astro";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="font-sans bg-base-300 text-base-content scrollbar-hide">
  <head>
    <MainHead pageTitle={title} />
    <ClientRouter />
  </head>
  <body>
    <div id="global-container" class="transition-all duration-300">
      <Header />
      <main class="transition-all duration-200">
        <slot />
      </main>
      <Footer />
    </div>
    <MobileNav />
  </body>
</html>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>

<script>
  document.addEventListener("mobile-nav-open", (event) => {
    const customEvent = event as CustomEvent;
    const { isOpen } = customEvent.detail;

    document.documentElement.classList.toggle("overflow-hidden", isOpen);

    const container = document.getElementById(
      "global-container",
    ) as HTMLElement;
    container.classList.toggle("blur", isOpen);
    container.classList.toggle("pointer-events-none", isOpen);
  });
</script>
